h1 {
    font-size: 24px;
    text-align: left;
}

.box-container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-group {
    width: 100%;
}

.form-group label {
    width: 100%;
}