:root{
    --yellow-dark: #FFC300;
    --yellow-light: #FFD60A;
    --blue-100: #003566;
    --blue-200: #001D3D;
    --gray-100: #d9dce5;
    --gray-200: #979DAC;
    --gray-300: #7D8597;
    --gray-400: #5C677D;
    --black: #000000;
    --white: #ffffff;
    --green: #20bf55;
    --blue: #2892d7;
    --red: #d63230;
    --red: #d63230;
}

* {
    font-family: 'Source Sans Pro', sans-serif;
}

.wrapper{
    background-color: var(--gray-100);
}

.nav-color{
    background-color: var(--blue-200);
}
.aside-color{
    background-color: var(--blue-100);
}

.nav-link-color{
    color: var(--yellow-light) !important;
}

.nav-link-user{
    display: flex !important;
    align-items: center !important;
    flex-direction: row !important;
    gap: 8px !important;
}

h1 {
    font-size: 32px !important;
    font-weight: 700;
    text-align: left;
}

form {
    width: 100%;
}

.box-container {
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 48px;

    padding: 48px;
}

.box-side {
    background-color: rgba(128, 128, 128, 0.075);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;

    border-radius: 12px;

    padding: 48px;
}

.form-box {
    width: 100%;
}

.form-box label {
    width: 100%;
    margin-bottom: 4px;

    font-weight: 300;

    color: rgba(100, 100, 100, 0.87);
}

.form-box input, textarea, .combo-box{
    width: 100%;
    margin-bottom: 8px;
    padding: 8px 12px;

    border-radius: 8px;
    border: none;
    height: 32px;
    background-color: rgba(128, 128, 128, 0.384);
    color: rgba(43, 43, 43, 0.925);
}

.form-box textarea{
    height: 100%;
    resize: none;
}

.form-box .combo-box{
    width: 50%;
    resize: none;
}

.combo-box option{
    padding: 8px;
}


.form-box input::placeholder {
    color: rgba(107, 107, 107, 0.479);
    font-size: 14px;
}

form input[type="submit"], .voltar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 32px;

    border-radius: 8px;
    border: none;
}

.voltar{
    background-color: rgb(141, 236, 255);
    color: black;
}

.form-button{
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 44px;
}

/* ----------------------- Lista de Clientes -------------------------*/
.container-table {
    width: 100%;
    height: 100%;

    /* overflow-y: scroll; */
    overflow: hidden;

    background-color: var(--gray-100);
    border-radius: 8px;

    /* padding-right: 8px; */
}

table {
    width: 100%;

    overflow: hidden;
    border-radius: 8px;
}

thead {
    background-color: rgba(128, 128, 128);
    height: 42px;

    font-size: 16px;
    font-weight: 700;
}

thead th {
    padding: 0 8px;
    border-bottom: 2px solid gray;
}

thead th:nth-child(odd) {
    background-color: rgba(112, 112, 112);
}

tbody tr {
    height: 32px;
    background-color: rgba(112, 112, 112);
    border-bottom: 1px solid rgb(155, 155, 155);
}

tbody td {
    font-size: 12px;
    padding: 0 8px;
}

tbody td:nth-last-child(1) {
    text-align: center;
}

tbody tr:nth-child(odd) {
    height: 32px;
    background-color: rgba(82, 82, 82);
}

::-webkit-scrollbar-track {
    background-color: rgb(165, 165, 165);
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: rgb(63, 63, 63);
    border-radius: 8px;
}

.delete-icon,
.edit-icon {
    padding: 0 4px;
}

.edit-icon {
    color: rgb(117, 204, 255);
}

.delete-icon {
    color: rgb(228, 74, 74);
}

.avatar{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--gray-100);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    border: 1px solid var(--yellow-light);
}