:root{
    --yellow-dark: #FFC300;
    --yellow-light: #FFD60A;
    --blue-100: #003566;
    --blue-200: #001D3D;
    --gray-100: #d9dce5;
    --gray-200: #979DAC;
    --gray-300: #7D8597;
    --gray-400: #5C677D;
    --black: #000000;
    --white: #ffffff;
    --green: #20bf55;
    --blue: #2892d7;
    --red: #d63230;
}

* {
    font-family: 'Source Sans Pro', sans-serif;
}

html{
    background-color: var(--blue-200);
}

.wrapper{
    background-color: var(--gray-100);
}

.nav-color{
    background-color: var(--blue-200);
}
.aside-color{
    background-color: var(--blue-100);
}

.nav-link-color{
    color: var(--yellow-light) !important;
}

.nav-link-user{
    display: flex !important;
    align-items: center !important;
    flex-direction: row !important;
    gap: 8px !important;
}

.footer-color{
    background-color: var(--blue-200);
    position: fixed;
    width: 95%;
    margin: 0px!important;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between;
}

.box-footer{
    margin-right: 32px;
}

h1 {
    font-size: 32px !important;
    font-weight: 700;
    text-align: left;
}

form {
    width: 100%;
}

.box-container {
    height: 86vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;

    padding: 16px;
}

.box-side:nth-child(1){
    margin-left: 72px;
}

.box-side {
    background-color: var(--blue-200);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;

    border-radius: 12px;
    color: var(--white);

    padding: 16px 32px;
}

.form-box {
    padding: 12px 0;
    width: 100%;
}

.form-box label {
    width: 100%;
    margin-bottom: 4px;

    font-weight: 300;

    color: var(--gray-100);
}

.form-box input, textarea, .combo-box{
    width: 100%;
    margin-bottom: 8px;
    padding: 8px 12px;

    border-radius: 8px;
    border: none;
    height: 32px;
    background-color: var(--gray-300);
    color: var(--white);
}

option{
    background-color: var(--gray-100);
    color: var(--black);
}

option:disabled{
    background-color: var(--gray-100);
    color: var(--gray-400);
}

.form-box textarea{
    height: 100%;
    resize: none;
}

.form-box .combo-box{
    width: 50%;
    resize: none;
}

.combo-box option{
    padding: 8px;
}


.form-box input::placeholder {
    color: var(--gray-100);
    font-size: 14px;
}

form input[type="submit"], .voltar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 32px;
    font-weight: bold;

    border-radius: 8px;
    border: none;
}

.voltar{
    background-color: var(--yellow-light);
    color: var(--black);
}

.voltar:hover {
    background-color: var(--yellow-dark);
    transition: all 0.5s;
    color: var(--black);
}

.form-button{
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 44px;
}

/* ----------------------- Lista de Clientes -------------------------*/
.container-table {
    width: 100%;
    height: 100%;

    overflow-y: scroll;
    /* overflow: hidden; */

    background-color: transparent;
    border-radius: 8px;

    padding-right: 8px;
}

table {
    width: 100%;
    height: 100%;

    overflow: hidden;
    border-radius: 8px;
}

thead {
    background-color: var(--yellow-dark);
    height: 42px;

    font-size: 16px;
    font-weight: 700;
}

thead th {
    padding: 0 8px;
    border-bottom: 2px solid var(--blue-100);
    color: var(--black);
}

thead th:nth-child(odd){
    background-color: var(--yellow-light);
}

tbody tr {
    height: 32px;
    background-color: var(--gray-300);
    border-bottom: 1px solid var(--gray-300);
}

tbody td {
    font-size: 14px;
    padding: 0 8px;
}

tbody td:nth-last-child(1) {
    text-align: center;
}

tbody tr:nth-child(odd) {
    height: 32px;
    background-color: var(--gray-400);
}

::-webkit-scrollbar-track {
    background-color: transparent
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: var(--yellow-dark);
    border-radius: 8px;
}

.delete-icon,
.edit-icon {
    padding: 0 4px;
}

.edit-icon, .delete-icon {
    color: var(--yellow-light);
}

.edit-icon:hover, .delete-icon:hover {
    color: var(--yellow-dark);
    transition: all 0.5s;
}


.avatar{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--gray-100);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    border: 1px solid var(--yellow-light);
}